:root * {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

html{
  padding: 16px;
}

.radio-group {
  padding-bottom: 16px;
}

input[type="radio"] {
  margin-right: 16px;
}

#chinese *,
#japanese * {
  font-size: 32px;
}

#trad-chinese,
#simp-chinese,
#kanji,
#hiragana {
  display: inline-block;
  padding-right: 32px;
}
