* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 16px;
}

.radio-group{
  padding-top: 8px;
  padding-bottom: 16px;
}

.radio-option{
  padding-right: 16px;
}

input[type="radio"] {
  margin-right: 16px;
}

.language-config{
  display: inline-block;
}

.language-sample{
  display: inline-block;
  vertical-align: top;
}

.language-sample *{
  font-size: 32px;
}

#trad-chinese,
#simp-chinese,
#kanji,
#hiragana {
  display: inline-block;
  padding-right: 32px;
}
